<% /*Layout template file for Ouch's pretty error output.*/ %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>

    <style><%- stylesheet %></style>
  </head>
  <body>

    <div class="Ouch container">

      <div class="stack-container">
        <div class="frames-container cf<%- !hasFrames?' empty':'' %>">
            <%- include(frameList) %>
        </div>
        <div class="details-container cf <%- !hasFrames?' frameEmpty':'' %>">
          <header>
              <%- include(header) %>
          </header>
          <%- include(frameCode) %>
          <%- include(envDetails) %>
        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.3.5/ZeroClipboard.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
    <script><%- zepto %></script>
    <script><%- javascript %></script>
    <% for(var i = 0; i < additionalScripts.length; i++) {%>
      <script src="<%- additionalScripts[i] %>"></script>
    <% } %>
  </body>
</html>
